.card img{
  height: 100px !important;
  width: 250px !important;
}
/* .carousel-indicators img{
  height: 500px !important;
  width: 1000px!important;
  align-items: center !important ;
}
.carousel-inner img{
  height: 800px !important;
  width: 1000px!important;
  align-items: center !important ;
}
.carousel-item{
  height: 500px !important;
  width: 1000px!important;
 align-items: center !important ;
} */